* {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: pink;}

h1{
    text-align: center;
    font-weight: 700;
}


main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 45px;
}



#usuario, #password {
    display: flex;
    margin: 15px 0 15px 0;
    padding: 5px;

}


#btn {
	display: block;
	flex-direction: column;
	background-color: blueviolet;
	
}